table.navigator {
    position: fixed;
    top: 0%;
    width: 100%;
    background-color: #5a555a;
    border: 0px;
    color:rgb(250, 230, 205);
    z-index: 5;
  }
  
  td.navigator {
    border-width: 0px;
    min-width: 200px;
    font-size: medium;
  }



  
.verticals {
    border-right: 5px solid;
    border-left: 5px solid;
    width: 97%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    position: absolute;
}



.container {
    margin:0 auto;
    color: #9F496E;
  }
  
div.top {
    width: 100%;
    left: 0px;
    top: 27px;
    border-bottom: 5px solid;
    position: fixed;
    z-index: 4;
}
  
div.top.noflourish {
    top: 52px;
}
  
div.bottom {
    width: 100%;
    left: 0px;
    bottom: 27px;
    border-top: 5px solid;
    position: absolute;
}

  
div.cornerDec { 
    width: 55px;
    height: 40px;
    color: darkgreen;
    position: absolute;
}

div.topleft {
    top: 0px;
    left: 0px;
    border-right: 5px solid;
    border-bottom: 5px solid;
}
  
div.topright {
    top: 0px;
    right: 0px;
    border-left: 5px solid;
    border-bottom: 5px solid;
}
  
div.bottomleft {
    bottom: 0px;
    left: 0px;
    border-right: 5px solid;
    border-top: 5px solid;
}
  
div.bottomright {
    bottom: 0px;
    right: 0px;
    border-left: 5px solid;
    border-top: 5px solid;
}





.filler {
    margin:0 auto;
    padding:10px 25px;
    width: 100%;
    height: 31px;
    top: 0px;
    position: fixed;
    background-color: #F2EBE5;
    z-index: 4;
}